{% extends 'usertemplates/layoutuser.html.twig' %}
{%block links2%} {%if (admin)%}  <a href="zoneadmin"  class="link">  Page Admin</a> {%endif%}{%endblock%}
{%block nom%} <label style='color:white  ; font-size:18px' ; > {{nom}} </label>{%endblock%}

{% block title %}Reservations{% endblock %}
{% block contenu %}
<h1 class='titre'>Mes Réservations</h1>

    <div class="events" style="width:1500px"> 

    {%for reservation in reservations%}
        <div class="event" >
            <img src="{{reservation.photo}}" class="img-event" >
            <div class="zonetext">
           
 


 <h1>{{reservation.name}}</h1>
            <p> Disponibilité:  {{reservation.getNbPersones()}}/{{reservation.getMaxNbPersones()}}
            </p>
           <p>Date de l'événement : {{ reservation.date ? reservation.date|date('Y-m-d') : 'Non spécifiée' }}</p>



                                <a  href ="{{path('annulerreserv',{id:reservation.id})}} "class="button" >Annuler La réservation</a> 

            </div>

        </div>
        {%endfor%}
        </div>


{% endblock %}
