{% extends 'usertemplates/layoutuser.html.twig' %}

{%block links2%} {%if (admin)%}  <a href="zoneadmin"  class="link">  Page Admin</a> {%endif%}{%endblock%}
{%block recherche%}

<form method='post' action='zoneuser'> 
<label style='color:white'> Date </label> 

<input type='date' name='date'/>

<button type='submit'>Recercher</button> 

 </form>
{%endblock%}


{% block title %}Zone Utilisateur{% endblock %}

{%block contenu%}
<h1 class='titre'>Les évenements </h1>
<br>
 <div class="events"> 
 {%for event in events%}
        <div class="event">
            <img src="{{event.photo}}" class="img-event" >
            <div class="zonetext">
        
            <h1>{{event.name}}</h1>
            <p> Disponibilité:  {{event.getNbPersones()}}/{{event.getMaxNbPersones()}}   {%if (event.getNbPersones() >= event.getMaxNbPersones())%}   Complet! {%endif%} 
            </p>
           <p>Date de l'événement : {{ event.date ? event.date|date('Y-m-d') : 'Non spécifiée' }}</p>
            <a href="{{path('reserver',{id:event.id})}}" class="button"  >Reserver</a>
        </div>

        </div>
{%endfor%}
        {%endblock%}
