

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ asset('style9.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aceeuil</title>
</head>
<body>
<div class="header">
<img src="{{ asset('logo.png') }}" width="100px" >
<div class="nav">

{%block links%}          



{%endblock%}





</div>


<div class="recherche" >
{%block recherche%} {%endblock%}
</div>


</div>




</div>


{% block contenu %}
<div class='biger'>
<div class="content">
    <div class="events"> 
 {%for event in events%}
        <div class="event">
            <img src="{{event.photo}}" class="img-event" >
            <div class="zonetext">
        
            <h1>{{event.name}}</h1>
            <p> Disponibilité:  {{event.getNbPersones()}}/{{event.getMaxNbPersones()}} {%if (event.getNbPersones() >= event.getMaxNbPersones())%}   Complet! {%endif%} 
            </p>
           <p>Date de l'événement : {{ event.date ? event.date|date('Y-m-d') : 'Non spécifiée' }}</p>

           
        </div>

        </div>
{%endfor%}
        </div>
    </div>

<div class="conect">
  <h1 class='titre'>Se Connecter</h1>

     

<img src="ico-user.png"   width='100px'/>
        <form method="post" action="{{ path('seconnecter') }}">
                <label for="email" class="label">Email:</label>
                <input type="email"  id="email" name="email" required>
<br>
                <label for="mot_de_passe" class="label">Mot de passe:</label>
                <input type="password"  id="mot_de_passe" name="mot_de_passe" required>
               {% if err is defined %}
               <br>
               <p style="color:red"> {{err}}</p>

               <br>
                   {% endif %}



            <button type="submit" class="submit" >Se connecter</button>
            <br>
          <br>

            <a href="inscrireuser">Créer un compte</a>
        </form>

</div>




</div>

</div>{% endblock %}

</body>
</html>
